## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.rsuser
[Dd]ebug/
[Rr]elease/
*.log
*.nupkg
*.apphost

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm

## JetBrains Rider
.idea/
*.sln.iml

## macOS
.DS_Store

## dotnet tools
/tools/
